.about-card-start{
  display: flex;
  width: 85vw;
  height: 55vh;
  flex-direction: column;
  justify-self: flex-start;
  margin-left: 3%;
  margin-bottom: 11%;
  background-color: #fffaf0 !important;
  border-radius: 16px;
  box-shadow: 5% 5% 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about-card-end{
  display: flex;
  width: 85vw;
  height: 55vh;
  flex-direction: column;
  justify-self: flex-end;
  margin-right: 3%;
  margin-bottom: 11%;
  background-color: #fffaf0 !important;
  border-radius: 16px;
  box-shadow: 5% 5% 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.about-scroll-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
