.main-animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-cloud,
.img-bubble-one,
.img-bubble-two,
.img-bubble-three,
.img-bubble-five {
  position: absolute;
}


.inf-image {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  max-width: 100%;
  width: 50%;
}

.info-eye {
  display: flex;
  justify-content: left;
  width: 20%;
}


.img-cloud {
  top: 10vh;
  left: 20vh;
  width: 10vh;
  /* margin-top: 0vh;
  margin-bottom: 150vh;
  margin-right: 20vh;
  margin-left: auto; */
}

.img-bubble-one {
  top: 20%;
  left: 30%;
  width: 10%;
}

.img-bubble-two{
  top: 30%;
  left: 40%;
  width: 10%;
}

.img-bubble-three {
  top: 40%;
  left: 50%;
  width: 10%;
}

.img-bubble-five {
  top: 0%;
  left: 40%;
  width: 10%;
}