.inf-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .inf-image {
    width: 150%;
  }
}




.animation-wrapper {
  height: var(--remaining-vh);
  overflow: hidden;
  position: relative;
}

/* Base styles */
.main-animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main-animation-container img {
  position: absolute;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.main-animation-row 
{
  position: relative;
  margin-top: auto;
  margin-bottom: 2rem;
}


/* Cloud image */
.img-cloud {
  top: 46%;
  left: 80%;
  width: 20%;
}

/* Bubble styles */
.img-bubble-one {
  top: 40%;
  left: 72%;
  width: 5%;
}

.img-bubble-two {
  top: 45%;
  left: 63%;
  width: 5%;
}

.img-bubble-three {
  top: 30%;
  left: 55%;
  width: 5%;
}

.img-bubble-five {
  top: 18%;
  left: 42%;
  width: 9%;
}

.main-animation-container {
  border: 2px dashed red;
}
.img-cloud,
.img-bubble-one,
.img-bubble-two,
.img-bubble-three,
.img-bubble-five {
  border: 1px solid blue;
}



/* Responsive overrides */
@media (max-width: 768px) {
  .img-cloud {
    top: 50%;
    left: 60%;
    width: 5%;
  }

  .img-bubble-one,
  .img-bubble-two,
  .img-bubble-three {
    width: 7%; 
  }

  .img-bubble-five {
    width: 12%;
  }
}

@media (max-width: 480px) {
  .img-cloud {
    top: 55%;
    left: 50%;
    width: 40%;
  }

  .img-bubble-one,
  .img-bubble-two,
  .img-bubble-three {
    width: 9%;
  }

  .img-bubble-five {
    width: 14%;
  }
}