.animation-row {
  flex: 1;
.animation-row {
  flex: 1;
  height: 100%;
}
.img-cloud,
.img-bubble-one,
.img-bubble-two,
.img-bubble-three,
.img-bubble-five {
  position: absolute;
}
.inf-image {
  display: block;
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
}
.inf-link {
  display: block;
  max-width: 100%;
  width: 50%;
  margin: 0 auto;
}
.inf-link {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 100%;
}
.info-eye {
  display: flex;
  justify-content: left;
  width: 20%;
}


@media (min-width: 0px) and (min-height: 880) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 40%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 25%;
    left: 80%;
    width: 20%;
    height: auto;
  }
  .img-bubble-one {
    top: 8%;
    left: 74%;
    width: 5%;
    height: auto;
  }
  .img-bubble-two{
    top: 25%;
    left: 66.5%;
    width: 5.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 13%;
    left: 57%;
    width: 5.7%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 45%;
    width: 8%;
    height: auto;
  }
}

@media (min-width: 344px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 73%;
    left: 52%;
    width: 47%;
    height: auto;
  }
  .img-bubble-one {
    top: 60%;
    left: 44%;
    width: 18%;
    height: auto;
  }
  .img-bubble-two{
    top: 42%;
    left: 50%;
    width: 22%;
    height: auto;
  }
  .img-bubble-three {
    top: 20%;
    left: 30%;
    width: 26%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 30%;
    height: auto;
  }
}

@media (min-width: 360px) and (max-height: 740px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 64%;
    left: 54%;
    width: 45%;
    height: auto;
  }
  .img-bubble-one {
    top: 59%;
    left: 44%;
    width: 13%;
    height: auto;
  }
  .img-bubble-two{
    top: 42%;
    left: 50%;
    width: 18%;
    height: auto;
  }
  .img-bubble-three {
    top: 22%;
    left: 30%;
    width: 22%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 25%;
    height: auto;
  }
}

@media (min-width: 375px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 61%;
    left: 61%;
    width: 40%;
    height: auto;
  }
  .img-bubble-one {
    top: 60%;
    left: 44%;
    width: 10%;
    height: auto;
  }
  .img-bubble-two{
    top: 42%;
    left: 50%;
    width: 13%;
    height: auto;
  }
  .img-bubble-three {
    top: 20%;
    left: 30%;
    width: 19%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 50%;
    width: 22%;
    height: auto;
  }
}


@media (min-width: 390px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 68%;
    left: 55.2%;
    width: 45%;
    height: auto;
  }
  .img-bubble-one {
    top: 60%;
    left: 44%;
    width: 15%;
    height: auto;
  }
  .img-bubble-two{
    top: 42%;
    left: 50%;
    width: 18%;
    height: auto;
  }
  .img-bubble-three {
    top: 20%;
    left: 30%;
    width: 22%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 50%;
    width: 25%;
    height: auto;
  }
}

@media (min-width: 390px) and (max-height: 720px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 60.5%;
    left: 70%;
    width: 30%;
    height: auto;
  }
  .img-bubble-one {
    top: 52%;
    left: 61%;
    width: 9%;
    height: auto;
  }
  .img-bubble-two{
    top: 34%;
    left: 65%;
    width: 11%;
    height: auto;
  }
  .img-bubble-three {
    top: 22%;
    left: 52%;
    width: 12%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 17%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 60%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 60.4%;
    left: 66%;
    width: 35%;
    height: auto;
  }
  .img-bubble-one {
    top: 53%;
    left: 60%;
    width: 10.8%;
    height: auto;
  }
  .img-bubble-two{
    top: 35%;
    left: 66.5%;
    width: 13.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 14%;
    left: 57%;
    width: 15%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 38%;
    width: 19%;
    height: auto;
  }
}

@media (min-width: 853px) and (max-height: 1280px){
  .inf-image {
    display: block;
    max-width: 100%;
    width: 75%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 65%;
    left: 66%;
    width: 35%;
    height: auto;
  }
  .img-bubble-one {
    top: 53%;
    left: 60%;
    width: 10.8%;
    height: auto;
  }
  .img-bubble-two{
    top: 35%;
    left: 66.5%;
    width: 13.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 17%;
    left: 55%;
    width: 15%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 35%;
    width: 19%;
    height: auto;
  }
}

@media (min-width: 912px) and (max-height: 1368px){
  .inf-image {
    display: block;
    max-width: 100%;
    width: 75%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 65%;
    left: 66%;
    width: 35%;
    height: auto;
  }
  .img-bubble-one {
    top: 53%;
    left: 60%;
    width: 10.8%;
    height: auto;
  }
  .img-bubble-two{
    top: 35%;
    left: 66.5%;
    width: 13.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 17%;
    left: 55%;
    width: 15%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 35%;
    width: 19%;
    height: auto;
  }
}


@media (min-width: 1200px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 45%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 48%;
    left: 80.5%;
    width: 20%;
    height: auto;
  }
  .img-bubble-one {
    top: 35.2%;
    left: 75.3%;
    width: 6%;
    height: auto;
  }
  .img-bubble-two{
    top: 42%;
    left: 66%;
    width: 7%;
    height: auto;
  }
  .img-bubble-three {
    top: 16%;
    left: 57.5%;
    width: 8%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 45%;
    width: 10%;
    height: auto;
  }
}

@media (min-width: 1432px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 40%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 25%;
    left: 80%;
    width: 20%;
    height: auto;
  }
  .img-bubble-one {
    top: 8%;
    left: 74%;
    width: 5%;
    height: auto;
  }
  .img-bubble-two{
    top: 25%;
    left: 66.5%;
    width: 5.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 13%;
    left: 57%;
    width: 5.7%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 45%;
    width: 8%;
    height: auto;
  }
}

@media (min-width: 1912px) {
  .inf-image {
    display: block;
    max-width: 100%;
    width: 40%;
    margin: 0 auto;
  }
  .img-cloud {
    top: 25%;
    left: 82%;
    width: 18%;
    height: auto;
  }
  .img-bubble-one {
    top: 12%;
    left: 76.5%;
    width: 5%;
    height: auto;
  }
  .img-bubble-two{
    top: 28%;
    left: 68%;
    width: 6.5%;
    height: auto;
  }
  .img-bubble-three {
    top: 13%;
    left: 58%;
    width: 7%;
    height: auto;
  }
  .img-bubble-five {
    top: 0%;
    left: 43%;
    width: 10%;
    height: auto;
  }
}