.inf-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .inf-image {
    width: 100%;
  } 
}

@media (min-width: 768px) and (max-width: 991px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .inf-image {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .inf-image {
    width: 150%;
  }
}




.animation-wrapper {
  height: var(--remaining-vh);
  overflow: hidden;
  position: relative;
}

/* Base styles */
.main-animation-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main-animation-container img {
  position: absolute;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.main-animation-row 
{
  position: relative;
  margin-top: auto;
  margin-bottom: 2rem;
}

.main-animation-container {
  border: 2px dashed red;
}


.img-cloud {
    top: 10%;
    left: 20%;
    width: 50%;
  }
  .img-bubble-one {
    top: 20%;
    left: 30%;
    width: 10%;
  }
  .img-bubble-two{
    top: 30%;
    left: 40%;
    width: 10%;
  }
  .img-bubble-three {
    top: 40%;
    left: 50%;
    width: 10%;
  }
  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 10%;
  }

/* Responsive overrides */
@media (max-width: 991px) {
  .img-cloud {
    top: 55%;
    left: 50%;
    width: 20%;
  }

  .img-bubble-one,
  .img-bubble-two,
  .img-bubble-three {
    width: 6%;
  }

  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .img-cloud {
    top: 23.8%;
    left: 83%;
    width: 17%;
  }

  .img-bubble-one {
    top: 18%;
    left: 77%;
    width: 4.5%;
  }
  .img-bubble-two{
    top: 15%;
    left: 68%;
    width: 5%;
  }
  .img-bubble-three {
    top: 40%;
    left: 50%;
    width: 20%;
  }

  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 5%;
  }
}

@media (min-width: 1441px) {
  .img-cloud {
    top: 24%;
    left: 82%;
    width: 18%;
  }
  .img-bubble-one {
    top: 18%;
    left: 76.5%;
    width: 4%;
  }
  .img-bubble-two{
    top: 15%;
    left: 65%;
    width: 5%;
  }
  .img-bubble-three {
    top: 40%;
    left: 50%;
    width: 20%;
  }

  .img-bubble-five {
    top: 0%;
    left: 40%;
    width: 5%;
  }
}