:root {
  --remaining-vh: 100vh; /* fallback */
}
.top-section {
  height: 60vh;
}
.bottom-section {
  height: 40vh;
}
.full-screen-container {
  display: flex; 
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
button {
  background: none; 
  border: none;    
  padding: 0;     
  margin: 0;     
}
.App {
  text-align: center;
}
.App-logo {
  height: 30vmin;
  pointer-events: none;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
body {
  background: url("../assets/kaininPattern\(tan\).png") center center repeat;
  background-size: 8em;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  background-color: black;
  color: white
}

.App-link {
  color: #003948;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.full-screen-container {
  height: 100vh;
  margin-top: 0;
  overflow: hidden;
}
.flex-container{
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center; 
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}


.flex-container2 {
  display: flex;
  flex-direction: column;
  flex: 1;           
  width: 100%;
  height: 100%;       
  position: relative;
  overflow: hidden;
}

.animation-box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.release-banner {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box; 
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  top: 0;
}

.release-banner h1 {
  margin: 0;
  font-size: 2rem;
}
@media (max-width: 576px) {
  .release-banner h1 {
    font-size: 1.5rem;
  }
}
.header {
  grid-area: header; /* If using grid-template-areas */
}

.image-wrapper {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  display: block;
  margin: 0 auto;
}

