.custom-navbar{
  background-color: #3e4f2b !important;
  width: 100%;
  height: 60px;
  box-sizing: border-box; 
  color: white; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
  height: auto !important; 
  min-height: 0 !important;
  top: 0;
  position: sticky !important;
  z-index: 1000;
  flex-wrap: nowrap;
}


.custom-navbar-row { 
  height: auto; 
  display: flex; 
}

.custom-navbar .right-icons * {
  display: flex;
  align-items: center;
}


.nav-icon-btn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}


#navImage {
  height: 60px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .custom-navbar img {
    width: 30px;
  }

  #navImage img {
    width: 150px;
  }
}